*{
    margin: 0;
    padding: 0;
    
   
}

h1{
    color: darkgreen;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.stuff {
    background-image: linear-gradient(to bottom right , darkblue, lightblue);
    text-shadow: 1px 1px 3px white;
    padding: 1px 0 0 5px;
    font-size: 25px;
}